__pycache__
.pytest_cache
*.db
.venv
HF_TOKEN.txt
.vscode
unsloth_compiled_cache

# ignore html docs and extra pdf docs
docs/build/doctrees
docs/build/html
docs/build/latex/*
!docs/build/latex/wardocx.pdf

# ignore old output files
capstone/output

# ignore docs that will be downloaded by user
capstone/data/NAVADMINS/*
capstone/data/MARADMINS/*

# make sure to keep MARADMINS dir
!capstone/data/MARADMINS/.gitkeep

# ignore caches
capstone/data/RTW/cache.faiss
capstone/data/OpOrds/*/cache.faiss

# save pages.txt
!capstone/data/NAVADMINS/pages.txt