__pycache__
.pytest_cache
*.db
.venv
HF_TOKEN.txt

# ignore html docs and extra pdf docs
docs/build/doctrees
docs/build/html
docs/build/latex/*
!docs/build/latex/aiwargaming.pdf

# ignore old output files
capstone/output

# ignore NAVADMINS
capstone/data/NAVADMINS/*
!capstone/data/NAVADMINS/pages.txt
!capstone/data/NAVADMINS/cache.faiss

# ignore FOUO
capstone/data/RTW/*
!capstone/data/RTW/cache.faiss