--extra-index-url https://download.pytorch.org/whl/cu126
Flask
flask_sqlalchemy
pypdf
pytest
reportlab
transformers
accelerate
bitsandbytes
torch
torchvision
torchaudio
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx
faiss-gpu-cu12
python-docx
beautifulsoup4