<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css"></link>
    <title>Login Form</title>

    <script>
        var swap_menu = false;
        function dropDown(){
            document.getElementById("dropdownmenu").classList.toggle("show");

            if(swap_menu == false){
                document.getElementById("menu_icon").src="../static/menu_open.png";
                swap_menu = true;
            }
            else {
                document.getElementById("menu_icon").src="../static/menu.png";
                swap_menu = false;
            }           
        }        
</script>
</head>

<body>
<div class="main-container">
    <div class="banner">
        <div class = "dropdown">
            <img src="../static/menu.png" id="menu_icon" alt = "menu" height="50" width="50"onclick="dropDown()"> 
            <div id = "dropdownmenu" class="dropdown-content">
                <a href = "/index"><img src = "../static/Computer Science Logo_RGB.png" height="180" width="160">Generate Document</a>
                <a href = "/login"><img src = "../static/key.png" height="60" width="40">Login</a>
                <a href = "/profile"><img src = "../static/account_circle.png" height="60" width="40">User Profile</a>
                <a href = "/docs/index.html"><img src = "../static/menu_book.png" height="60" width="40">Documentation</a>
            </div>
        </div>
    </div> <!--left banner -->

    <div class="content">
        <img src="../static/main_logo.png" alt="USNA logo">

        <p>{{ errorMsg }}</p>
        <h2>Login Form</h2>
        <form action="{{ url_for('login') }}" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Submit">
        </form>
        <!-- Redirect to new_account.html -->
        <a href="/register" class="button">Create Account</a>
    </div>
    <div class="banner">
            
    </div>
</div>
</body>
