<head>
    <meta charset="UTF-8">
    <title>AI Wargaming</title>
    <link rel="stylesheet" href="style.css">
    <!--ADD APACHE LICENSE TO LIST FOR USING GOOGLE ICONS-->
    <script>
        var swap_menu = false;
        function dropDown(){
            document.getElementById("dropdownmenu").classList.toggle("show");

            if(swap_menu == false){
                document.getElementById("menu_icon").src="../static/menu_open.png";
                swap_menu = true;
            }
            else {
                document.getElementById("menu_icon").src="../static/menu.png";
                swap_menu = false;
            }
            
        }
    </script>
</head>

<body>
    <div class="main-container">
    <div class="banner">
        <div class = "dropdown">
            <img src="../static/menu.png" id="menu_icon" alt = "menu" height="50" width="50"onclick="dropDown()"> 
            <div id = "dropdownmenu" class="dropdown-content">
                <a href = "index.html"><img src = "../static/cs_logo.gif">Generate Document</a>
                <a href = "#"><img src = "../static/key.png" height="60" width="40">Login</a>
                <a href = "#"><img src = "../static/account_circle.png" height="60" width="40">User Profile</a>
                <a href = "#"><img src = "../static/menu_book.png" height="60" width="40">How to Use</a>
            </div>
        </div>
    </div> <!--left banner -->
    
    <div class="content"> <!--middle-->
    <img src="../static/main_logo.png" alt="USNA logo"> 
    </div>
    
    <div class="banner"></div> <!--right banner -->
    </div>
</body>
